<?xml version="1.0" encoding="utf-8" ?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="uri" value="https://domain/ews/exchange.asmx"/>
		<add key="EWSSpecifier" value="emailid@domain"/>
		<add key="EWSWords" value="watchWord"/>
		<add key="path" value="DriveLetter:\\DevLOGS\\"/>
		<add key="accessSpecifier" value="role"/>
		<add key="watchWord" value="pass"/>
		<add key="encryptItem" value="True"/>
		<add key="AESKey" value="ed1b64d08c9da16a80d3971340c7d698"/>
		<add key="AESiv" value="d68c69039117ba10"/>
		<add key="WhiteListed" value="::1|127.0.0.1"/>
		<add key="Token" value="d9de4a84dd6b80a1971c09d163c78306"/>
	</appSettings>

	<system.web>
		<compilation debug="false" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8"/>
	</system.web>
	<system.serviceModel>
		<bindings/>
	</system.serviceModel>
</configuration>